# Trace dir
TRACE_DIR = "./traces"
EXP_NAME = "hybrid_reward_v3"
# Sandbox and planner config
AGENT_PLANNER_PORT = 8331
SANDBOX_KEY_AUTH=""
SANDBOX_MANAGER_URL=""

# Reward model config
REWARD_SERVER_PORT = 8003
BASE_URL = ""
API_KEY = ""
REWARD_MODEL = ""

# vllm model config

# 评估模型api
#doubao
doubao_model_endpoint = ""
doubao_model_api_key_01 = ""
doubao_model_api_key_02 = ""
doubao_model_provider = "openai"

#gpt5
gpt5_model_endpoint = ""
gpt5_model_api_key = ""
gpt5_model_provider = "azure"

#claude
claude_model_endpoint = ""
claude_model_api_key = ""
# serve_model_name = "global.anthropic.claude-haiku-4-5-20251001-v1:0"
claude_serve_model_name = "global.anthropic.claude-sonnet-4-5-20250929-v1:0"
claude_model_provider = "bedrock"
region_name="us-west-1" 